<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
<p>Company Name: <span th:text="${company}"></span></p>
<p>Company Job: <span th:text="${job}"></span></p>
<p>Company Role: <span th:text="${role}"></span></p>
<p>Company Conditions: <span th:text="${conditions}"></span></p>
<p>Company Prefered: <span th:text="${prefered}"></span></p>
<p>Company Phone: <span th:text="${phone}"></span></p>
</body>
</html>